<p id="notice"><%= notice %></p>

<div class="container" id="main">
  <h1 style="color:blue">Loi's Blog</h1>
  <h3>Not exactly my first, but my first for<br><strong style="color:red">CoderSchool</strong></h3>

  <%= form_tag articles_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>


  <br>
  <%= render @articles %>
  <%= link_to 'New Article', new_article_path %>
</div>
