<section id="portfolio">
  <container><br><br><br>
    <div class="container" id="main">
      <p id="notice"><%= notice %>
        <h2>Title:</h2>
          <%= @article.title %>
      </p>
      <body>
          <h2>Body:</h2>
            <%= @article.body %>
      </body><br><br>

      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-success' %> |
      <%= link_to 'Back', articles_path, class: 'btn btn-warning' %>
    </div>
  </container><br>
</section>
