<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "CoderSchoolBlog", root_path, class: "navbar-brand" %>
    </div>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", welcome_index_path, class: "" %></li>
          <li><%= link_to "FAQ", welcome_faq_path, class: "" %></li>
          <li><%= link_to "Khang's Code!", welcome_khang_path, class: "" %></li>
          <li><%= link_to "CSS", welcome_cssplayground_path, class: "" %></li>
      </ul>
    </div>
</nav>
